html {
    /*background-color: #009f3a;*/
    background-color: #355440;
}

.special {
    color: rebeccapurple;
    font-weight: bold;
}

.outer {
    border: 5px solid black;
}

.box {
    padding: 20px 20px 20px 20px;
    background-color: rgb(121, 164, 140);
    color: white;
}

a {
    color: green;
}

a:hover {
    color: blue;
}

h1 {
    font-size: 42px;
    margin: 0;
    padding: 20px 0;
    color: #142b41;
    text-shadow: 1px 2px 1px rgb(87, 113, 152);
}

body {
    width: 1200px;
    /* or fit-content*/
    margin: 0 auto;
    text-align: center;
    background-color: #bbd8e3;
    padding: 0 20px 20px 20px;
    border: 20px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    background: rgb(157, 176, 141);
    padding: 10px;
    border: 1px solid black;
}

dl {
    background: rgb(157, 176, 141);
    padding: 10px;
    border: 1px solid black;
}

li {
    width: 300px;
    margin-left: 40px;
    text-align: left
}

li {
    list-style-type: none;
    /* list-style-type: "\1F44D"; */
}

div {
    img {
        display: block;
    }
    .table {
        display: table;
    }
    .row {
        display: table-rwo;
    }
    .cell {
        display: table-cell;
    }
    .bg-image-wrapper {
        display: inline-block;
        background: url(http://placehold.it/200x200);
        border-radius: 10px;
        overflow: hidden;
    }
}